@{
    ViewBag.Title = "Angular Bank Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div ng-app="RetailBanking">
    <div ng-controller="AccountController as accountCtrl">
        <h2>{{accountCtrl.hello}}</h2>
    </div>
</div>

@Scripts.Render("~/bundles/angular")

